@page
@model XMLAspNetCore.Pages.StringPageModel
@addTagHelper *, Microsoft.AspNetCore.Razor.TagHelpers
@{
    ViewData["Title"] = "String button example";
}

<div class="container">
    <div class="align-items-md-center">
       <p>@ViewData["Message"]?.ToString()</p>
    </div>
    <div class="align-content-center">
        <form method="post">
            <!-- Your form fields go here -->

            <button type="submit" asp-page-handler="SetString">SetString</button>
        </form>
    </div>
    <div class="align-items-center alert-dark"></div>
</div>


<a asp-page="./Privacy" class="btn btn-primary">Privacy</a>

@Html.Partial("./XML/_Details")

