@page
@model XMLAspNetCore.Pages.XmlPagesLinksModel


<h1>XML Links Page</h1>

<a asp-page="/XML/Chapter6/Listing6_2" class="btn btn-primary">Listing6_2</a>
<a asp-page="/XML/Chapter6/Listing6_3" class="btn btn-primary">Listing6_3</a>
<a asp-page="/XML/Chapter6/Listing6_4" class="btn btn-primary">Listing6_4</a>
<a asp-page="/XML/Chapter6/Listing6_5" class="btn btn-primary">Listing6_5</a>
<a asp-page="/XML/Chapter6/Listing6_6" class="btn btn-primary">Listing6_6</a>
<a asp-page="/XML/Chapter6/Listing6_7" class="btn btn-primary">Listing6_7</a>


