@page
@model XMLAspNetCore.Pages.XmlPagesLinksModel


<h1>XML Links Page</h1>

<a asp-page="/XML/Chapter6/Listing6_2" class="btn btn-primary">Listing6_2</a>
<a asp-page="/XML/Chapter6/Listing6_3" class="btn btn-primary">Listing6_3</a>
<a asp-page="/XML/Chapter6/Listing6_4" class="btn btn-primary">Listing6_4</a>
<a asp-page="/XML/Chapter6/Listing6_5" class="btn btn-primary">Listing6_5</a>
<a asp-page="/XML/Chapter6/Listing6_6" class="btn btn-primary">Listing6_6</a>
<a asp-page="/XML/Chapter6/Listing6_7" class="btn btn-primary">Listing6_7</a>
<a asp-page="/XML/Chapter6/Listing6_8" class="btn btn-primary">Listing6_8</a>
<a asp-page="/XML/Chapter6/Listing6_9" class="btn btn-primary">Listing6_9</a>
<a asp-page="/XML/Chapter6/Listing6_8ChatGPT" class="btn btn-primary">Listing6_8ChatGPT</a>
<a asp-page="/Advertisement/Create" class="btn btn-primary">Advertisement for Antique Cars</a>

<a asp-page="/XML/Chapter7/Listing7-1" class="btn btn-primary">Listing7_1</a>
<a asp-page="/XML/Chapter7/Listing7-2" class="btn btn-primary">Listing7_2</a>
<a asp-page="/XML/Chapter7/Listing7-3" class="btn btn-primary">Listing7_3</a>
<a asp-page="/XML/Chapter7/Listing7-4" class="btn btn-primary">Listing7_4</a>

<a asp-page="/XML/Chapter7/Listing7-5" class="btn btn-primary">Listing7_5</a>
<a asp-page="/XML/Chapter7/Listing7-6" class="btn btn-primary">Listing7_6</a>

<a asp-page="/XML/Chapter7/Listing7-7" class="btn btn-primary">Listing7_7</a>
<a asp-page="/XML/Chapter7/Listing7-8" class="btn btn-primary">Listing7_8</a>

<a asp-page="/XML/Chapter7/Listing7-9" class="btn btn-primary">Listing7_9</a>
<a asp-page="/XML/Chapter7/Listing7-10" class="btn btn-primary">Listing7_10</a>




