@page
@model XMLAspNetCore.Pages.XML.Chapter6.Listing6_9Model
@{
    ViewData["Title"] = "Using XPathNavigator to Update an XML Document";
}

<h1>Using XPathNavigator to Update an XML Document</h1>

Model.XMLContent