@page
@model XMLAspNetCore.Pages.XML.Chapter6.Listing6_3Model
@{
    ViewData["Title"] = "Traversing the DOM Tree";
}

<h1>Traversing the DOM Tree</h1>

<div class="text-xl-center alert-danger">
    @if (Model.XmlError == "XmlError String")
    {

    }
    else
    {
        <h3>@Model.XmlError</h3>
    }
</div>

<h1>@Html.Raw(ViewData["HtmlCode"])</h1>
