@page
@model XMLAspNetCore.Pages.XML.Chapter5.Chapter5PagesModel
@{
    ViewData["Title"] = "Chapter 5 Pages";
}

<h1 class="text-lg-center">Chapter 5 Pages</h1>

<ul>
    <li>
        <a asp-page="/XML/Chapter5/Chapter5-3" asp-page-handler="" class="btn btn-primary">Chapter5-3</a>
    </li>
</ul>
