@page
@model XMLAspNetCore.Pages.XML.Chapter5.Listing5_3Model
@{
    ViewData["Title"] = "XSD Validation";

}

<div class="text-center">
    <h1 class="display-4">@ViewData["XmlData"]</h1>
    <p>Hello, world! The time on the server is @DateTime.Now</p>
</div>
